@page
@model ProTrailers.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@*<h1>Detalles de @Model.Movie.Titulo</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Titulo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Titulo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Genero)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Genero)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Sinopsis)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Sinopsis)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Director)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Director)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Fecha)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Fecha)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Movie.Video)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Movie.Video)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-page="./Edit" asp-route-id="@Model.Movie.MovieId">Edit</a> |
        <a asp-page="./Index">Volver a la tabla</a>
    </div>*@

    <div class="container">

        <div class="col-md-9 mx-auto">
            <div class="card shadow-xl">
                <div class="card-header text-gray-700 text-2xl font-bold">Detalles de @Model.Movie.Titulo</div>
                <div class="card-body">

                    <a asp-page="./Index"><button class="btn text-white bg-yellow-600 hover:bg-yellow-700 btn-sm"><i class="fa fa-arrow-left" aria-hidden="true"></i> Regresar</button></a>

                    <a asp-page="./Edit" asp-route-id="@Model.Movie.MovieId"><button class="btn text-white bg-blue-700 hover:bg-blue-800 btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Editar</button></a>

                    <a class="btn bg-red-700 hover:bg-red-800 text-white btn-sm" asp-page="./Delete" asp-route-id="@Model.Movie.MovieId"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</a>

                    <br />
                    <br />

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <th> Título </th>
                                    <td> @Html.DisplayFor(model => model.Movie.Titulo) </td>
                                </tr>
                                <tr>
                                    <th> Sinópsis </th>
                                    <td> @Html.DisplayFor(model => model.Movie.Sinopsis) </td>
                                </tr>
                                </tr>
                                <tr>
                                    <th> Género </th>
                                    <td> @Html.DisplayFor(model => model.Movie.Genero) </td>
                                </tr>
                                <tr>
                                    <th> Estreno </th>
                                    <td> @Model.Movie.Fecha.ToShortDateString()</td>
                                </tr>
                                <tr>
                                    <th> Director </th>
                                    <td> @Html.DisplayFor(model => model.Movie.Director) </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

