@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="">
    <div class="justify-start mt-12 border-gray-600 border-b-2 w-1/4">
        <h1 class=" font-black text-gray-700 text-4xl">Trailers Disponibles</h1>
    </div>


    <form asp-page="./Index" method="get" class="my-8">
        <div class="w-2/5 inline-flex justify-start items-center">
                <input placeholder="Buscar" class="flex-1 focus:ring-4 focus:ring-gray-400 focus:ring-opacity-50 block pl-7 py-2 pr-12 sm:text-base border-b-2 rounded-md" type="text" name="busqueda" value="@Model.filtroBusqueda" />
                <input class="flex-1 text-sm font-medium bg-gray-700 hover:bg-gray-500 rounded-lg text-white  hover:bg-bluegray-900 p-2 w-12 mx-2" type="submit" value="Buscar"/> |
                <a class="flex-1 block text-base font-medium text-blue-900 mx-2" asp-page="./Index">Lista Completa</a>
        </div>
    </form>

    

    <div class="container mx-auto flex flex-row justify-between flex-wrap">
        @foreach (var item in Model.Movies)
        {
            <div class="max-w-sm max-h-full rounded overflow-hidden shadow-lg mt-10 ml-3">
                @{string urlFinal = item.Video.Replace("watch?v=", "embed/");}


                <iframe style="width: 100%;"
                        height="215"
                        src="@urlFinal"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                <div class="px-6 py-4">
                    <div class="font-bold text-black text-xl mb-2">@item.Titulo</div>
                    <p class="text-gray-700 text-base">
                        @item.Sinopsis
                    </p>
                    <br>
                    <p><b class="font-bold">Dirigido por:</b> @item.Director</p>
                    <p><b class="font-bold">Fecha de estreno:</b> @item.Fecha.ToShortDateString()</p>

                </div>
                <div class="px-6 py-4">
                    <span class="inline-bloc bg-blue-600 rounded-full px-3 py-1 text-sm font-semibold text-gray-200">@item.Genero</span>
                </div>
            </div>
        }
    </div>

    @{
        var prevDisabled = !Model.Movies.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.Movies.HasNextPage ? "disabled" : "";
    }
    <div class="bg-white px-4 py-3 flex items-center border-t border-gray-200 sm:px-6 mt-5">
        <!--<a href="#" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <span class="sr-only">Previous</span>-->
        <!-- Heroicon name: solid/chevron-left -->
        <!--<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
        </a>-->

        <a asp-page="./Index"
           asp-route-pageIndex="@(Model.Movies.PageIndex - 1)"
           class=" @prevDisabled disabled:bg-gray-300  relative inline-flex items-center px-2 py-2 ml-1 rounded-l-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50">
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            Anterior
        </a>


        <a class="@nextDisabled disabled:bg-gray-300 relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 mr-2 mx-2" asp-page="./Index"
           asp-route-pageIndex="@(Model.Movies.PageIndex + 1)">
            Siguiente
            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>

</div>

